<h1>タイトル</h1>
<span><%= @list.title %></span>
<h2>本文</h2>
<span><%= @list.body %></span>
<p>画像</p>
<%= attachment_image_tag @list, :image, :fill, 300, 300, format: 'jpeg' %>
<%= link_to "編集", edit_todolist_path(@list.id) %>